@font-face {
  font-family: "Barlow Semi Condensed";
  font-weight: 500;
  src: url("/assets/fonts/barlow-semi-condensed-v15-latin-500.woff2");
}

@font-face {
  font-family: "Barlow Semi Condensed";
  font-weight: 600;
  src: url("/assets/fonts/barlow-semi-condensed-v15-latin-600.woff2");
}

/* ------------------- CSS Reset ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 0.125rem dotted var(--clr-primary-400);
  outline-offset: 0.125rem;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ------------------- CSS Variables ------------------- */
:root {
  --ff-barlow: "Barlow Semi Condensed", sans-serif;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-600: 1.25rem;

  --fw-medium: 500;
  --fw-semibold: 600;

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-150: hsla(0, 0%, 100%, 0.8);
  --clr-neutral-200: hsl(210, 46%, 95%);

  --clr-primary-400: hsl(217, 19%, 35%);
  --clr-primary-450: hsla(217, 19%, 35%, 0.8);
  --clr-primary-475: hsla(217, 19%, 35%, 0.1);
  --clr-primary-600: hsl(263, 55%, 52%);
  --clr-primary-700: hsl(359, 47%, 51%);
  --clr-primary-900: hsl(219, 29%, 14%);
}

/* ------------------- Utility Classes ------------------- */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}
/* ------------------- End of Utility Classes ------------------- */

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: var(--ff-barlow);
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  text-align: start;
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-200);
  padding: 4.375rem 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.filter__outer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter__label {
  color: var(--clr-primary-900);
  font-weight: var(--fw-semibold);
}

.filter__inner-wrapper {
  max-width: 18.75rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-template-areas:
    "verfied student"
    "clear clear";
  justify-items: center;
}

.filter__button {
  width: 100%;
  font-family: var(--ff-barlow);
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-200);
  border: 2px solid var(--clr-primary-400);
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
}

.filter__button--verified:active,
.filter__button--student:active {
  color: var(--clr-neutral-200);
  background-color: var(--clr-primary-400);
}

@media (hover: hover) {
  .filter__button--verified:hover,
  .filter__button--student:hover {
    color: var(--clr-neutral-200);
    background-color: var(--clr-primary-400);
  }
}

.filter__button--selected {
  color: var(--clr-neutral-200);
  background-color: var(--clr-primary-400);
}

.filter__button--clear {
  max-width: max-content;
  grid-area: clear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: var(--clr-primary-700);
  border-color: var(--clr-primary-700);
}

.filter__button--clear:active {
  color: var(--clr-neutral-200);
  background-color: var(--clr-primary-700);
}

.filter__button--clear:focus-visible {
  outline-color: var(--clr-primary-700);
}

.testimonial-grid {
  max-width: 36rem;
  display: grid;
  gap: 1.5rem;
}

.card {
  background-color: var(--clr-primary-900);
  border-radius: 10px;
  box-shadow: 10px 10px 20px 0 var(--clr-primary-475);
  padding: 1.5rem 2rem;
}

.card--daniel {
  background-color: var(--clr-primary-600);
  background-image: url("/assets/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 4.75rem;
  background-blend-mode: soft-light;
  background-size: 6.5rem;
}

.card--jonathan {
  background-color: var(--clr-primary-400);
}

.card--jeanette {
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-100);
}

.card--patrick {
  background-color: var(--clr-primary-900);
}

.card--kira {
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-100);
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.card__profile-section {
  display: grid;
  grid-template-areas:
    "avatar name"
    "avatar status";
  justify-content: start;
  align-items: center;
  gap: 0.25rem 1rem;
}

.card__avatar {
  grid-area: avatar;
  width: 2rem;
  height: 2rem;
  border-radius: 100vw;
}

.card__name {
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  font-weight: var(--fw-semibold);
}

.card__status {
  font-size: var(--fs-300);
  color: var(--clr-neutral-150);
}

.card__status--jeanette,
.card__status--kira {
  color: var(--clr-primary-450);
}

.blockquotes {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.card__testimonial-summary {
  font-size: var(--fs-600);
  font-weight: var(--fw-semibold);
}

.card__testimonial {
  line-height: 1.3;
  color: var(--clr-neutral-150);
}

.card__testimonial--jeanette,
.card__testimonial--kira {
  color: var(--clr-primary-450);
}

/* ------------------- Media Queries ------------------- */
@media (min-width: 48rem) {
  .main {
    align-items: start;
  }

  .filter__inner-wrapper {
    max-width: 32rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: none;
  }

  .filter__button--clear {
    grid-area: unset;
    justify-self: start;
  }

  .testimonial-grid {
    max-width: 80rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .card--kira {
    grid-column: span 2;
  }
}

@media (min-width: 78rem) {
  .testimonial-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-col-span-2 {
    grid-column: span 2;
  }

  .card--kira {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
}
